.cart_title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
}
.cart_container {
  padding: 20px 70px 20px 70px;
}
.cart_headings {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  font-size: 12px;
}

.cart_headings {
  border-bottom: 1px solid rgb(231, 228, 228);
}

.cart_heading_price {
  margin-left: 50px;
}

.cart_btn_container {
  margin-top: 25px;
}
.clear_cart_btn {
  width: 200px;
}
.add_note_container {
  margin-top: 40px;
}
.add_note_container input {
  height: 60px;
  width: 980px;
  border: 1px solid rgb(231, 228, 228);
}
.shipment {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 990px;
  border: 1px solid rgb(231, 228, 228);
}
.shipment_checkout_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .cart_container {
    padding: 20px 10px 20px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .shipment_checkout_container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .shipment {
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .add_note_container input {
    height: 60px;
    width: 350px;
  }
}
