.item_detail_container {
  display: flex;
  padding: 40px 80px 40px 80px;
  position: relative;
}
.image_detail {
  width: 350px;
  margin-right: 20px;
}
.image_detail img {
  width: 100%;
  height: 150px;
}
.image_front {
  margin-bottom: 20px;
}
.main_image {
  border: 1px solid #e0d3d3;
  padding: 20px;
  margin-right: 40px;
}
/* .item_detail {
  
} */
.main_image img {
  height: 750px;
  width: 600px;
}

.item_detail_buttons,
.item_count,
.item_count div,
.add_to_wish {
  display: flex;
  align-items: center;
}
.item_count {
  margin-right: 5px;
}

.item_count button,
.item_count div,
.add_to_wish {
  width: 40px;
  height: 40px;
}
.item_count button,
.item_count div,
.add_to_wish {
  cursor: pointer;
  border: 1px solid #e0dddd;
  justify-content: center;
}
.add_to_wish img {
  width: 18px;
}

.add_item_to_cart {
  width: 95%;
  height: 40px;
  margin-right: 25px;
}
.add_item_to_cart {
  flex: 1;
}
.item_detail_path {
  color: #707070;
  font-size: 16px;
}
.item_detail_buy {
  height: 40px;
  margin-top: 7px;
}
.item_detail_description {
  color: #707070;
  font-size: 16px;
  margin-top: 30px;
}
.item_detail_title {
  font-size: 28px;
}

.item_detail_social_media {
  margin-top: 20px;
  display: flex;
}
.item_summary {
  position: absolute;
  left: 500px;
  top: 220px;
  background-color: whitesmoke;
  border: none;
}

@media only screen and (max-width: 768px) {
  .item_detail {
    width: 350px;
    padding: 10px;
    overflow: scroll;
  }
}
@media only screen and (max-width: 768px) {
  .image_detail img {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .main_image {
    width: 350px;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .main_image img {
    height: 300px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .add_item_to_cart {
  }
}
@media only screen and (max-width: 768px) {
  .item_summary {
    position: absolute;
    left: 10px;
    top: 600px;
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .item_detail_container {
    padding: 20px 10px 20px 10px;
  }
}
