.home_container {
  /* margin-top: 90px; */
}
.hero {
  display: flex;
  justify-content: space-between;
  background-color: rgba(226, 222, 222, 0.4);
  padding: 10px 100px 10px 100px;
}
.hero img {
  width: 700px;
  height: 750px;
}
.hero_text {
  margin-top: 150px;
  font-size: 50px;
}
.stock_items {
  margin-top: 100px;
  padding: 10px 100px 10px 100px;
}
.best_selling_items_container {
  background-color: rgba(226, 222, 222, 0.4);
  margin-top: 100px;
}
.best_selling_items {
  padding: 70px 100px 10px 100px;
}
.best_selling_text {
  font-size: 50px;
  margin-bottom: 20px;
}
