.hero {
  display: flex;
  justify-content: space-between;
  background-color: rgba(226, 222, 222, 0.4);
}
.hero,
.stock_items,
.best_selling_items,
.trending,
.freestyle {
  padding: 10px 80px 10px 80px;
}
.hero img {
  width: 700px;
  height: 750px;
}
.hero_text {
  margin-top: 150px;
  font-size: 50px;
}
.stock_items,
.freestyle {
  margin-top: 100px;
}
.best_selling_items_container {
  background-color: rgba(226, 222, 222, 0.4);
  margin-top: 100px;
}
.best_selling_items {
  background-color: rgba(226, 222, 222, 0.4);
}
.best_selling_text,
.trending_title,
.freestyle_title {
  font-size: 50px;
  margin-bottom: 20px;
}
.home_stock_container,
.home_selling_container {
  display: flex;
  justify-content: space-between;
}
.trending {
  background-color: rgba(226, 222, 222, 0.4);
  margin-top: 150px;
}
.trending_details {
  display: flex;
  justify-content: space-between;
}
.trending_title {
  margin-top: 100px;
}
.freestyle {
  display: flex;
}
.freestyle_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 80px;
  width: 900px;
}
.freestyle_text {
  font-size: 14px;
}
.freestyle img {
  width: 300px;
  height: 300px;
}
.freestyle_desc {
  display: flex;

  align-items: center;
}

@media only screen and (max-width: 768px) {
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .hero_image img {
    width: 90%;
    height: 500px;
  }
}
/* .home_selling_container,
  .trending_details */
@media only screen and (max-width: 768px) {
  .hero_text,
  .best_selling_text,
  .freestyle_title,
  .trending_title {
    font-size: 20px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .freestyle_images {
    width: 100;
  }
}
@media only screen and (max-width: 768px) {
  .home_stock_container,
  .home_selling_container,
  .trending_details.freestyle {
    width: 100%;
    display: flex;

    overflow: scroll;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .hero,
  .stock_items,
  .best_selling_items,
  .trending,
  .freestyle {
    padding: 10px 20px 10px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .freestyle_images img {
    width: 100px;
    height: 100px;
  }
}
