.checkout_details {
  padding: 15px;
  font-size: 14px;
  color: #707070;
}
.title {
  text-align: center;
  border-bottom: 1px solid rgb(231, 228, 228);
  padding-top: 5px;
  padding-bottom: 5px;
}
.checkout_subTotal,
.delivery {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.checkout_btn {
  margin-top: 20px;
}
.total {
  text-align: end;
  margin-top: 10px;
  font-weight: 600;
  border-top: 1px solid rgb(231, 228, 228);
}
.container {
  border: 1px solid rgb(231, 228, 228);
  height: 220px;
  width: 300px;
}
