.promo_container {
  display: flex;

  padding: 70px 80px 10px 80px;
}
.current_discount,
.next_discount {
  background-color: rgba(226, 222, 222, 0.4);
  height: 450px;
}
.next_discount {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.current_discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-right: 40px;
}

.promo_image {
  height: 450px;
}
.promo_image img {
  width: 400px;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .promo_container {
    width: 100%;
    overflow: scroll;
    padding: 30px 0px 10px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .current_discount,
  .next_discount {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .promo_image img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .promo_image {
    height: 200px;
  }
}
