.card_container {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.card_container img {
  width: 320px;
  height: 400px;
  cursor: pointer;
}
.card_details {
  display: flex;
  align-items: baseline;
  padding-top: 15px;
  line-height: 48px;
}
.card_title {
  margin-right: 15px;
  font-weight: 400;
  font-size: 32px;
  color: #2c2c2c;
  cursor: pointer;
}
.card_item_count {
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .card_container,
  .card_container img {
    width: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .card_item_count {
    font-size: 8px;
  }
}
